
@model IEnumerable<E_Procurement.Models.BusinessTypesModel>
@{
    Layout = null;
    int n = 0;
}
<select class="form-control select2" id="dropBusinesstype" name="dropBusinesstype" data_live_search="true">
    <option value="">--Select Type---</option>
    <optgroup label="Business Types Categories">
        @foreach (var item in Model)
        {
            <option value="@item.Code">@item.Description</option>
        }
    </optgroup>
</select>

