
@model IEnumerable<E_Procurement.Models.DropdownListsModel>
@{

    Layout = null;
    int n = 0;
}
<select class="form-control select2" id="dropdownyearcodeslists" name="dropdownyearcodeslists" data_live_search="true">
    <option value="">--Select Year Code List--</option>
    <optgroup label="Year Codes List">
        @foreach (var item in Model)
        {
            <option value="@item.Code">@item.Description</option>
        }
    </optgroup>
</select>

