
    @{
        Layout = null;
    }
<div class="container" style="width:100%">
    <div class="row" style="background-color:#144704">
        <div class="col-md-6">
            <h6>About Us</h6>
            <p class="text-justify">KeRRA is a State Corporation within the State Department of Infrastructure under the Ministry of Transport, Infrastructure, Housing and Urban Development and established through the Kenya Roads Act, 2007.While our Head Office is situated in Nairobi, the Authority has 30 Regional Administrative Units and Offices in each County. Our operations are further devolved to the Constituency level wherein we maintain roads in all 290 Constituencies guided by respective Constituency Roads Committees (CRCs); through the annual Roads Maintenance Levy Fund (RMLF) allocations.</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
                <li><a href="">FAQs</a></li>
                <li><a href="">FeedBack</a></li>
                <li><a href="">Bidders Manual Kit</a></li>
                <li><a href="">Downloads</a></li>
                <li><a href="">Announcements</a></li>
                <li><a href="">Templates</a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Contribute</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="h">Sitemap</a></li>
            </ul>
        </div>
    </div>
    <hr>
</div>
<div class="container" style="width:100%">
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
            <p>Copyright:&copy; @DateTime.Now.Year - Kenya Rural Roads Authority.All Rights Reserved - <a href="#">Powered By Dynasoft Business Solutions</a>.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>