
@{
    ViewBag.Title = "RegisterUpcomingMeeting";
    Layout = "~/Views/Shared/_ContractorLayout.cshtml";
    int tenderCounter = 0;

}
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Meeting Type <span class="text-danger">*</span></label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Project ID</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Project Name <span class="text-danger">*</span></label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Contractor ID <span class="text-danger">*</span></label>
                <input class="form-control floating" type="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Contractor Name <span class="text-danger">*</span></label>
                <input class="form-control floating" type="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Region <span class="text-danger">*</span></label>
                <input class="form-control floating" type="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input class="form-control" type="password">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Start Time</label>
                <input class="form-control" type="password">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Duration <span class="text-danger">*</span></label>
                <input class="form-control floating" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Phone </label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">End Date</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">End Time</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Project Manager</label>
                <input class="form-control" type="text">
            </div>
        </div>
    </div>
</div>

